on fs
    setprop ro.product.model TA-1038
    setprop ro.product.name TA-1038_00WW
    setprop ro.product.vendor.model TA-1038
    setprop ro.product.vendor.name TA-1038_00WW
on fs
	setprop ro.build.fingerprint Nokia/TA-1038_00WW/NE1:9/PPR1.180610.011/00WW_5_120:user/release-keys
	setprop ro.build.description "TA-1038_00WW-user 9 PPR1.180610.011 00WW_5_120 release-keys"
