service mdlogger /system/bin/mdlogger
    class main
    user shell
    group shell system radio sdcard_rw inet sdcard_r media_rw
    disabled
    oneshot

service reboot_modem /system/bin/mdlogger reset_md
    class main
    user shell
    group shell system radio sdcard_rw inet sdcard_r media_rw
    disabled
    oneshot

